.loading__progress {
    background: rgb(24, 204, 147);
    background: linear-gradient(
        90deg,
        rgba(24, 204, 147, 1) 0%,
        rgba(24, 204, 147, 0.6264880952380952) 52%,
        rgba(24, 204, 147, 0.4332107843137255) 100%
    );
    
    height: 10px;
    transition: 2s ease;
    border-radius: 0.4rem;
    margin: 0;
}

.loading__bar {
    background-color: rgb(233, 233, 233);
    border-radius: 0.4rem;
}