.sign {
    min-width: 8rem;
    max-width: 30rem;
    border-bottom: 2.4rem solid var(--purple);
    border-radius: 1rem;
    box-shadow: 0 0 5px 3px rgba(68, 68, 68, 0.2);
    position: relative;
    background-color: white;
    margin: .8rem;
}

.sign__image {
    width: 5rem;
}

.sign__text {
    color: var(--grey);
    position: absolute;
    bottom: -1.8rem;
    left: 0;
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 0 .5rem 0 .5rem;
    margin-left: .8rem;
}