.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--yellow);
    padding-bottom: 2.5rem;
}

.banner__logo {
    width: 20rem;
    height: auto;
    margin: 2rem;
    background-image: url('../../assets/Splash.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner__logo img {
    width: 15rem;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .banner__logo {
        width: 10rem;
    }
    
    .banner__logo img {
        width: 5rem;
    }

    .input-home {
        width: 10rem;
    }
  }

.banner__text {
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-home {
    width: 20rem;
    height: 5rem;
    border-bottom: 1rem solid var(--purple);
    border-radius: 1rem;
    box-shadow: 0 0 5px 3px rgba(68, 68, 68, 0.2);
    position: relative;
    top: -2.5rem;
    background-color: white;
}