.profile-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-element__title {
    display: flex;
    align-items: center;
}

.profile-element__title__delete {
    width: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}