.banner--profile {
    align-items: center;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
}

.logout {
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logout img {
    width: 2rem;
    padding-left: 1rem;
}