.translate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-translate {
    width: 30rem;
    height: 5rem;
    position: relative;
    top: 0rem;
    background-color: var(--yellow);
}

.input-container {
    width: 100%;
    height: 10rem;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}