.App {
  text-align: center;
}

.header {
  padding: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  border-bottom: .2rem solid var(--yellow-dark);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__image {
  width: 2rem;
  height: auto;
  background-image: url('./assets/Splash.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo__image img {
  width: 2rem;
  height: auto;
}

.header__logo__title {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  padding-left: 1rem;
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
}