:root {
  --yellow: #FFC75F;
  --yellow-dark: #E7B355;
  --purple: #845EC2;
  --light-grey: #EFEFEF;
  --grey: #969696;
}

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

body {
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input__field {
  background-color: var(--light-grey);
  color: var(--grey);
  border: 2px solid var(--grey);
  border-radius: 2rem;
  padding: 1rem;
  padding-left: 4rem;
  margin: 1rem;
  width: 90%;
  box-sizing: border-box;
}

.input__field:focus {
  outline-width: 0;
}

.button__image {
  width: 30px;
  margin-top: .3rem;
  padding: .3rem .4rem;
  background-color: var(--purple);
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1.8rem;
  cursor: pointer;
}

.input__image {
  width: 30px;
  margin: .3rem;
  position: absolute;
  top: 1.2rem;
  left: 2rem;
}